@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo Aluno(a) </h1>
    <p>O que deseja?</p>
    <picture>
        <source srcset="https://emotioncard.com.br/wp-content/uploads/2016/04/Seja-Bem-Vindo.png" type="image/svg+xml">
        <img src="..." class="img-fluid img-thumbnail" alt="...">
    </picture>
</div>



   