<div class="text-center">

    <h1 class="display-4"> Informações do Curso</h1>
    <p>Data em que iniciou: 13/06/2021 </p>
    <p>Data que irá terminar: 01/07/2022 </p>
    <p>Nome do Coordenador: Júnior </p>
    <p>Nome da Instituição: Senac </p>
    <p>Endereço: Rod. Antônio Heil, 191 - Centro 2, Brusque - SC</p>
    <p>Telefone: (47) 3351-2626 </p>
</div> 