<div class="text-center">

    <h1 class="display-4"> Conteúdos Administrados</h1>
    <p>*Aspnet MVC</p>
    <p>*Mocagem de dados</p>
    <p>*Conexão com banco SQL</p>
    <p>*Chamada de api externa</p>

</div>