@model AlunoModel

@{
    ViewData["Title"] = "Bem Vindo Aluno";
}

<div class="text-center">
    <h2>Aluno Adicionado com Sucesso!</h2>
    <a class="btn btn-danger col-1" role="button" asp-controller="Aluno" asp-action="Index">Voltar</a>
</div>

